name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  # The NAME makes it easier to copy/paste snippets from other CI configs
  NAME: treeedb

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Format
      run: cargo fmt && git diff --exit-code
    - name: Deps
      run: |
        rustup update
        rustup component add clippy
    - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3
    - name: Lint
      run: make lint

  static:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Deps
      run: |
        sudo apt-get install -y musl-tools
        rustup target add x86_64-unknown-linux-musl
    - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3
    - run: make static

  test:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "@${{ github.workspace }}/rustc-flags"
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3
    - name: Deps
      env:
        DEBIAN_FRONTEND: noninteractive
        SOUFFLE_VERSION: 2.5
      run: |
        wget -q -O souffle.deb https://github.com/souffle-lang/souffle/releases/download/${SOUFFLE_VERSION}/x86_64-ubuntu-2204-souffle-${SOUFFLE_VERSION}-Linux.deb
        sudo apt-get install -y --no-install-recommends ./souffle.deb
        rm souffle.deb
    - run: make test
